[Desktop Entry]
Name=Yakuake
Name[uk]=Yakuake
Name[x-test]=xxYakuakexx
GenericName=Drop-down Terminal
GenericName[uk]=Спадний термінал
GenericName[x-test]=xxDrop-down Terminalxx
Exec=yakuake
Icon=yakuake
Type=Application
Terminal=false
Categories=Qt;KDE;System;TerminalEmulator;
Comment=A drop-down terminal emulator based on KDE Konsole technology.
Comment[uk]=Спадний замінник термінала, заснований на технології KDE Konsole.
Comment[x-test]=xxA drop-down terminal emulator based on KDE Konsole technology.xx
X-DBUS-StartupType=Unique
X-KDE-StartupNotify=false
