[Desktop Entry]
Encoding=UTF-8
Name=Yakuake
Name[tr]=Yakuake 
Exec=yakuake
Icon=yakuake
Type=Application
Categories=Qt;KDE;System;TerminalEmulator;
Comment=A Quake-style terminal emulator based on KDE Konsole technology.
Comment[ar]=مضاهي نافذة أوامر من نوع Quake معتمد على تقنية KDE Konsole.
Comment[bg]=Терминален емулатор в стил Quake, базиран на конзолната технология на KDE.
Comment[da]=En Quake-lignende terminalemulator baseret på teknologi fra KDE's program Konsole.
Comment[de]=Ein der Quake-Konsole nachempfundener Terminalemulator basierend auf KDE Konsole.
Comment[el]=Μία εφαρμογή τερματικού σε στυλ Quake, βασισμένη στην τεχνολογία του KDE Konsole.
Comment[es]=Un emulador de terminal tipo Quake basado en la tecnología de KDE Konsole.
Comment[et]=Quake'i stiilis terminaliemulaator, mille aluseks on KDE Konsooli tehnoloogia.
Comment[fr]=Un émulateur dans le style de Quake basé sur la technologie Konsole de KDE.
Comment[ga]=Aithriseoir teirminéil de chineál Quake, bunaithe ar theicneolaíocht Konsole KDE.
Comment[gl]=Unha terminal ao estilo de Quake baseada en Konsole.
Comment[it]=Un emulatore di terminale sullo stile di Quake basato sulla tecnologia di KDE Konsole.
Comment[ja]=KDE Konsole のテクノロジーに基づく Quake スタイルのターミナルエミュレータ
Comment[mk]=Терминал во стилот на Quake базиран врз технологијата на Конзолата на KDE. 
Comment[nl]=Een Quake-achtige terminalemulator, gebaseerd op de technologie van KDE's Konsole
Comment[pt]=Um emulador de terminal do estilo do Quake, baseado na tecnologia do Konsole do KDE.
Comment[pt_BR]=Um emulador de terminal do estilo do Quake, baseado na tecnologia do Konsole do KDE.
Comment[sk]=Emulátor terminálu v štýle Quake založený na KDE Konsole technológii.
Comment[sv]=En Quake-liknande terminalemulator baserad på teknologi från KDE:s Terminal.
Comment[tr]=KDE Konsole teknolojisi üzerine kurulu Quake stili bir terminal emülatörü
Comment[uk]=Емулятор терміналу в стилі Quake, оснований на технології консолі KDE.
X-KDE-StartupNotify=false
