[Desktop Entry]
Encoding=UTF-8
Name=Yakuake
Name[tr]=Yakuake 
Exec=yakuake
Icon=yakuake
Type=Application
Comment=A Quake-style terminal emulator based on KDE Konsole technology.
Comment[bg]=Терминален емулатор в стил Quake, базиран на конзолната технология на KDE.
Comment[da]=En Quake-lignende terminalemulator baseret på teknologi fra KDE's program Konsole.
Comment[de]=Ein der Quake-Konsole nachempfundener Terminalemulator basierend auf KDE Konsole.
Comment[el]=Μία εφαρμογή τερματικού σε στυλ Quake, βασισμένη στην τεχνολογία του KDE Konsole
Comment[es]=Un emulador de terminal tipo Quake basado en la tecnología de KDE Konsole.
Comment[fr]=Un émulateur dans le style de Quake basé sur la technologie Konsole de KDE.
Comment[ga]=Aithriseoir teirminéil de chineál Quake, bunaithe ar theicneolaíocht Konsole KDE.
Comment[it]=Un emulatore di terminale sullo stile di Quake basato sulla tecnologia di KDE Konsole.
Comment[ja]=KDE Konsole のテクノロジーに基く Quake スタイルのターミナルエミュレータ
Comment[nl]=Een Quake-achtige terminalemulator, gebaseerd op de technologie van KDE's Konsole
Comment[pt]=Um emulador de terminal do estilo do Quake, baseado na tecnologia do Konsole do KDE.
Comment[pt_BR]=Um emulador de terminal no estilo do Quake, baseado na tecnologia do Konsole do KDE. 
Comment[sv]=En Quake-liknande terminalemulator baserad på teknologi från KDE:s Terminal.
Comment[tr]=KDE Konsole teknolojisi üzerine kurulu Quake stili bir terminal emülatörü
